* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #071952;
  font-family: "Montserrat", sans-serif;
  color: #97feed;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  height: 50px;
  background-color: #05123c;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 1.5rem;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: #287c7a;
}

.left {
  font-size: 1.5rem;
}

.firstSection {
  display: flex;
  justify-content: space-around;
  margin: 20vh;
}

.leftSection {
  width: 30%;
  font-size: 2.3rem;
  margin: 70px;
}

.rightSection {
  width: 30%;
}

.purple {
  color: #287c7a;
  font-weight: bolder;
}

.rightSection img {
  width: 80%;
}

#element {
  color: #287c7a;
  font-weight: bolder;
}

main hr {
  height: 1px;
  margin: 20px 80px;
  border-color: #97feed;
}

.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 80px;
}

.box p {
  margin: 20px;
}

.thirdSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projects {
  margin: 2rem;
  width: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
